/* line 43, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/main.scss */
html {
  height: 100%;
}

/* line 50, ../sass/main.scss */
body {
  background-color: #323232;
  font: 12px/16px "QuicksandBook", sans-serif;
  min-width: 320px;
  position: relative;
  height: 100%;
}

/* line 57, ../sass/main.scss */
a {
  outline: none;
  color: #057565;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 63, ../sass/main.scss */
a:hover {
  color: #efb600;
  border-bottom: 1px dashed #efb600;
}

/* line 67, ../sass/main.scss */
p::selection, a::selection, li::selection, h5::selection {
  background: #efb600;
  /* Safari */
  color: #323232;
}

/* line 71, ../sass/main.scss */
p::-moz-selection, a::-moz-selection, li::-moz-selection, h5::-moz-selection {
  background: #efb600;
  /* Firefox */
  color: #323232;
}

/* line 78, ../sass/main.scss */
header h1 {
  text-indent: -99999px;
  background: url(../web-images/logo3.png) 6px 6px #323232 no-repeat;
  width: 126px;
  height: 82px;
  display: block;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  margin-left: 63px;
  /*margin-top:-6px;*/
  position: absolute;
  box-shadow: 1px 1px 2px #323232;
  z-index: 100000;
  float: left;
}
/* line 92, ../sass/main.scss */
header #logo {
  width: 116px;
  height: 73px;
  margin: 0 5px 0 0;
  position: absolute;
  top: 0;
  left: 50px;
}
/* line 100, ../sass/main.scss */
header #logo img {
  border: 0 none;
}

/* line 106, ../sass/main.scss */
nav {
  display: block;
  width: 100%;
  position: relative;
  color: #a4a4a0;
  background: #323232;
  height: 20px;
  line-height: 20px;
}
/* line 114, ../sass/main.scss */
nav .tab, nav ul li.active, nav a {
  height: 20px;
  line-height: 20px;
  display: block;
}
/* line 119, ../sass/main.scss */
nav ul {
  float: right;
  list-style: none;
  margin-right: 63px;
}
/* line 123, ../sass/main.scss */
nav ul li {
  float: left;
  color: #323232;
}
/* line 127, ../sass/main.scss */
nav ul li.active {
  background: #efb600;
  padding: 0 12px;
}
/* line 133, ../sass/main.scss */
nav a {
  color: #a4a4a0;
  padding: 0 12px;
  -moz-transition: background 0.2s ease 0s;
}
/* line 139, ../sass/main.scss */
nav a:hover {
  color: #323232;
  background: #a4a4a0;
}
/* line 143, ../sass/main.scss */
nav a:active {
  color: #323232;
  background: #efb600;
}
/* line 147, ../sass/main.scss */
nav a, nav a:hover, nav a:active {
  text-decoration: none;
  border-bottom: none;
}

/* line 153, ../sass/main.scss */
#wrapper {
  background: url(../web-images/bgd1.jpg) repeat 0 0 #cbcbc6;
  position: relative;
  min-height: 100% !important;
  -webkit-box-shadow: 1px 1px 150px #222222 inset;
  -moz-box-shadow: 1px 1px 150px #222222 inset;
  box-shadow: 1px 1px 150px #222222 inset;
}

/* line 160, ../sass/main.scss */
#content {
  margin: 0;
  padding: 55px 30px 40px 30px;
}

/* Gallery list view */
/* line 166, ../sass/main.scss */
#content.list_view {
  padding-right: 38px;
}

/* line 169, ../sass/main.scss */
#list_view {
  overflow: visible;
}

/* line 172, ../sass/main.scss */
.justified-gallery a {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  border: 4px solid #DFE0D3;
  -webkit-box-shadow: 1px 1px 5px #656565;
  -moz-box-shadow: 1px 1px 5px #656565;
  box-shadow: 1px 1px 5px #656565;
  /*background-color: $green;*/
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
/* line 183, ../sass/main.scss */
.justified-gallery a img {
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px;
}
/* line 186, ../sass/main.scss */
.justified-gallery a .caption {
  background: #323232;
}

/* line 190, ../sass/main.scss */
.justified-gallery a:hover {
  border-color: #057565;
  text-decoration: none;
  -webkit-box-shadow: 1px 1px 10px #656565;
  -moz-box-shadow: 1px 1px 10px #656565;
  box-shadow: 1px 1px 10px #656565;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  -webkit-transform: scale(1.05, 1.07);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1.05, 1.07);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
/* line 201, ../sass/main.scss */
.justified-gallery a:hover img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* Main Gallery */
/* line 209, ../sass/main.scss */
.galleria-thumbnails .galleria-image img {
  -webkit-border-radius: 92px;
  -moz-border-radius: 92px;
  -ms-border-radius: 92px;
  border-radius: 92px;
}

/* About */
/* line 214, ../sass/main.scss */
#content {
  font-size: 1.35em;
  line-height: 1.5em;
}
/* line 217, ../sass/main.scss */
#content p {
  margin: 0 0 20px;
  color: #323232;
}

/* line 222, ../sass/main.scss */
#content.about {
  width: 1024px;
  margin: 0px auto;
  padding: 76px 0 86px 0;
}
/* line 227, ../sass/main.scss */
#content.about img {
  float: left;
  margin-right: 30px;
}

/* footer */
/* line 234, ../sass/main.scss */
footer {
  position: absolute !important;
  bottom: -410px;
  width: 100%;
  background: #323232;
  height: 420px;
}
/* line 241, ../sass/main.scss */
footer .show_footer {
  position: absolute;
  top: -20px;
  right: 170px;
  z-index: 10000;
  text-indent: -999999px;
  height: 20px;
  width: 40px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  background: url(../web-images/footer-arrow.png) center center no-repeat #323232;
}
/* line 252, ../sass/main.scss */
footer .show_footer:hover {
  border-bottom: none;
}
/* line 255, ../sass/main.scss */
footer .content {
  position: relative;
  width: 80%;
  max-width: 980px;
  margin: 0 auto;
  display: block;
  padding: 80px 0 0 0;
  color: #95968a;
}
/* line 264, ../sass/main.scss */
footer .content .story {
  font-size: 1.2em;
  line-height: 1.8em;
  width: 46%;
  float: left;
  padding: 0 5%;
}
@media (max-width: 840px) {
  /* line 264, ../sass/main.scss */
  footer .content .story {
    width: 100%;
    padding: 30px 0;
    float: none;
  }
}
/* line 276, ../sass/main.scss */
footer .content .logo {
  float: left;
  position: relative;
  width: 22%;
}
@media (max-width: 840px) {
  /* line 276, ../sass/main.scss */
  footer .content .logo {
    width: 50%;
    float: none;
  }
}
/* line 285, ../sass/main.scss */
footer .content .logo img {
  width: 100%;
  max-width: 231px;
}
/* line 290, ../sass/main.scss */
footer .content .links {
  float: right;
  width: 22%;
  font: 12px/16px "QuicksandBook", sans-serif;
}
@media (max-width: 840px) {
  /* line 290, ../sass/main.scss */
  footer .content .links {
    width: 100%;
    padding: 30px 0;
    float: none;
    font-size: 1.2em;
    line-height: 1.6em;
  }
}
/* line 301, ../sass/main.scss */
footer .content .links h5 {
  font-size: 1.4em;
  letter-spacing: 0;
}
@media (max-width: 840px) {
  /* line 301, ../sass/main.scss */
  footer .content .links h5 {
    font-size: 1.2em;
    border-bottom: 2px dotted;
    margin-bottom: 20px;
  }
}
/* line 310, ../sass/main.scss */
footer .content .links ul {
  list-style: none;
  padding-bottom: 6px;
}
@media (max-width: 840px) {
  /* line 310, ../sass/main.scss */
  footer .content .links ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-bottom: 30px;
  }
}
/* line 317, ../sass/main.scss */
footer .content .links ul li {
  padding-bottom: 6px;
}
@media (max-width: 840px) {
  /* line 317, ../sass/main.scss */
  footer .content .links ul li {
    padding-bottom: 10px;
    display: table;
  }
}
/* line 328, ../sass/main.scss */
footer .copyright {
  padding-top: 60px;
  padding-bottom: 3px;
  font-size: 12px;
  pointer-events: absolute;
  bottom: 0;
  clear: both;
  margin-left: 27%;
}
@media (max-width: 840px) {
  /* line 328, ../sass/main.scss */
  footer .copyright {
    margin-left: 0;
    text-align: center;
  }
}
/* line 341, ../sass/main.scss */
footer .copyright a {
  color: #efb600;
  text-decoration: none;
  letter-spacing: 1px;
  -moz-transition: border-bottom 0.1s ease 0.01s;
}
/* line 347, ../sass/main.scss */
footer .copyright a:hover {
  color: #efb600;
  border-bottom: 1px dashed #efb600;
}

/* end footer */
/* line 354, ../sass/main.scss */
.clearfix {
  display: inline-table;
  /* Hides from IE-mac \*/
  height: 1%;
  display: block;
  /* End hide from IE-mac */
}

/* line 361, ../sass/main.scss */
html > body .clearfix {
  height: auto;
}

/* line 364, ../sass/main.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
